

    <h1>
        <%= title %>
    </h1>

    <div class="card">
        <div class="card-body">
            <form method="POST">
                <div class="mb-3">
                    <label for="email" class="form-label">Correo electónico</label>
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                        placeholder="email@example.org" value="<%= values.email ?? '' %>">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="password">
                </div>
                <% if (errorMessage) { %>
                    <div class="alert alert-danger" role="alert">
                        <%= errorMessage %>
                    </div>
                    <% } %>
                        <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
            </form>
        </div>
    </div>


    <%- include('partials/footer') %>






