<%- include('partials/header') %>

<h2>Log in</h2>

<form method="POST" action="/login">
  <input type="email" name="email" placeholder="Email" required>
  <input type="password" name="password" placeholder="Password" required>
  <button type="submit">Entrar</button>
</form>

<a href="/register">Registrarse</a>

<%- include('partials/footer') %>



                   